body{
	margin: 0;
    font-family: 'Raleway', sans-serif;

}
ul {
	padding-inline-start: 0;
}
a {
	    text-decoration: none;
}
.section{
    position: relative;
    padding-left: 246px;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-size: 100%;
    height: 100vh;
    min-height: 100%;
    background: #e2e2e2;
    text-align: center;
    color: #444649;    
}
.cont_section {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    z-index: 0;
}

#welcome
{
	background-color: #dedede;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");}
.text, .title{
	font-family: 'Raleway', sans-serif;
	display: block;
    font-size: 33pt;
}
.title{
    margin-top: 30px;
}
#welcome canvas{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	box-sizing: border-box;
}
.centerv {
    height: 100%;
    width: 1px;
    margin-left: -1px;
    display: inline-block;
    vertical-align: middle;
}
.highlight {
    color: #E31B6D;
}
.menu_holder{
	display: inline-block;
    vertical-align: middle;	
}
.cont_ul{
	text-align: left;
}
.menu {
    width: 246px;
    background-color: #18181a;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 102;
    text-align: center;
}
.menu ul{
	
}
.menu-item {
    cursor: pointer;
    white-space: nowrap;
    margin: 0 auto;
    box-sizing: border-box;
    display: block;
    position: relative;
}
.menu-item a {
    font-size: 16px;
    line-height: 36px;
    text-transform: uppercase;
    color: #a5a5a5
}
.menu-item a:hover{
	color: #e7f743;
}
.foot_menu img{
	opacity: 0.6;
	margin: 5px;
}
.foot_menu img:hover{
	opacity: 1;
}
.cont_welcome{
	display: inline-block;
	vertical-align: middle;
	position: relative;
    z-index: 2;
}
.profile-pic {
    box-shadow: 0px 4px 6px 2px lightgrey;
    border-radius: 50%;
    width: 150pt;
    height: 150pt;
    margin-bottom: 50px;
}
.btn_down {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 15%;
    z-index: 100;
}
.icon_down{
    background: url(../img/btn_down.png) no-repeat 0 0;
    z-index: 2;
    position: relative;
    height: 51px;
    width: 52px;
    bottom: 0;
    margin: 0 auto;
    cursor: pointer;
    left: 0;
}


/*Contact*/
input.invalid {
  background-color: #ffdddd;
}
.step{
    display: none;
}
#form_contact, .response{
  background: #252934;
  margin: 50px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}
.response{
  display: none;
}

#contact .cont_section{
    height: auto;
}

.circle_step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #00A1A7;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.circle_step.active {
  opacity: 1;
}

.circle_step.finish {
  background-color: #4CAF50;
}
.cont_circles{
    text-align:center;
    margin-bottom: 20px;
}

#form_contact input, #form_contact textarea {
    padding: 10px 15px;
    font-size: 17px;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    margin-bottom: 3px;
}
 #form_contact textarea{
    margin-bottom: 40px
 }
/* Style de Sub title Form*/
.sub_title_form{
    color: white;
}
#btns_cont{
    overflow:auto;
}
#btns_hold{
    float: right;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}


/*------ABOUT-------------*/

#about{
  background-color: #18181a;
}